.LoginPage {
    display: flex;
    justify-content: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Panel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}